.whitebox.span16
  = render 'header'
  = render 'deliveries'
  .row
    .span10
      %h2
        Mensagens enviadas

  %table.condensed-table.zebra-striped
    %thead
      %tr
        %th Assunto
        %th Data
    %tbody
      - @sent_messages.each do |msg|
        %tr
          %td=link_to msg.subject, message_path(msg)
          %td= I18n.l(msg.created_at, :format => :short)
  = will_paginate @sent_messages, :param_name => :sent_page
