- form_for @membership, :url => {:controller => :memberships, :action => :update, :project_id => @membership.project }, :method => :put do |f|
  = @membership.user.full_name
  %br
  = check_box_tag 'manager', 'Gerente?'
  Gerente?
  %br
  = f.submit

