.password-box
  %h2 Esqueceu sua senha?
  %p.subtitle
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    = f.input :email
    = f.button :submit, 'Enviar'
