.topbar
  .topbar-inner
    .container
      %h3
        =link_to 'DashBoard', desktop_path
      %ul.nav
        %li
          =link_to 'Tarefas', project_tasks_path(current_user.current_project)
        %li
          =link_to 'Mensagens', messages_path
        %li
          =link_to 'Repositório', tree_project_path(current_user.current_project)
        %li
          =link_to 'Chaves', keys_path
      %ul.nav.secondary-nav
        %li.dropdown
          %a.dropdown-toggle{:href => '#'}=current_user.current_project.name
          %ul.dropdown-menu
            -current_user.project_list.each do |project|
              %li
                =link_to project.name, set_active_project_path(project)
        %li
          =link_to current_user, edit_user_registration_path
        %li
          =link_to 'Sair', destroy_user_session_path



- if flash[:notice]
  .alert-message.success
    %a{:class=>'close', :href=>'#'}×
    %p= flash[:notice]
- if flash[:alert]
  .alert-message.error
    %a{:class=>"close", :href=>"#"}×
    %p= flash[:alert]
