//@import "compass/reset"
@import "compass/css3"
.project
  p
    display: inline

  border: 1px solid black

  padding: 5px
  margin: 5px
  width: 500px
  @include border-radius(4px, 4px)
  @include box-shadow( gray , 5px, 5px, 10px)

