//@import "compass/reset"
@import "compass/css3"
@import "colors"

.projects
  width: 50%
  font-family: arial, helvetica
  border: 1px solid black
  padding: 5px


p.header
  text:
    align: center
  font:
    size: 30px
    weight: bold
  letter-spacing: -2px

.project
  p
    display: inline
  p.links
    float: right
    margin: 0

  border: 1px solid black
  border-top: 0px
  &.first
    border:
      top: 1px solid black
  &.even
    background-color: $light-blue

  padding: 5px
  width: auto
  //@include border-radius(4px, 4px)
  //@include box-shadow( gray , 5px, 5px, 10px)

