@mixin round-borders-all($radius) {
  border: 1px solid #eaeaea;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

.colorcode {
  border: 1px solid black
}

.colorcode > table.highlighttable
{
  border-spacing: 2px;
  border-bottom-color: gray;
  border-collapse: separate;
  height: 20px;
  line-height: normal;
  width: 38px;
  margin:0px;
  padding:0px;
  font-size:12px;
  table-layout:fixed
}

.colorcode > table.highlighttable tbody {
  height: 20px;
}

.colorcode > table.highlighttable tbody tr td.linenos, td.code{
  border-top: 0px solid black;
  line-height: normal;
  vertical-align: middle;
}

table td.code, td.linenos{
  padding:0;
  margin:0;
  vertical-align:top;
}

div.linenodiv pre {
  border: 0px;
  white-space: pre;
  word-wrap: normal;
  background-color: transparent;
}

div.highlight pre {
  border: 0px;
  white-space: pre;
  word-wrap: normal;
  background-color: transparent;

}

.colorcode > .highlight{
  background:none;
  padding:10px 0px 0px 10px;
  margin-left:0px;
}
.colorcode > .highlight pre{
}

.colorcode > .linenodiv pre {
  white-space:pre-line;
}

.colorcode > td.linenos {
  background:#ECECEC;
  color:#777;
  padding:10px 0px 0px 10px;
  float:left;
  width:45px;
  border-right: 1px solid #ccc;

}

.colorcode > td.code .highlight {
  overflow: auto;
}
.colorcode > table.highlighttable pre{
  padding:0;
  margin:0;
  font-family: 'Courier New', 'andale mono','lucida console',monospace;
  color: #333;
  text-align:left;
}

.colorcode > .git-empty .highlight {
  @include round-borders-all(4px);
  background:#eee;
  padding:5px;
  //overflow-x:scroll;
  pre{
    padding:0;
    line-height:2.0;
    margin:0;
    font-family: 'Courier New', 'andale mono','lucida console',monospace;
    color: #333;
    text-align:left;}
  }

.colorcode > .shadow{
  -webkit-box-shadow:0 5px 15px #000;
  -moz-box-shadow:0 5px 15px #000;
  box-shadow:0 5px 15px #000;
}

.colorcode > .hll { background-color: #ffffff }
.colorcode > .c { color: #888888; font-style: italic } /* Comment */
.colorcode > .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.colorcode > .k { color: #000000; font-weight: bold } /* Keyword */
.colorcode > .cm { color: #888888 } /* Comment.Multiline */
.colorcode > .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.colorcode > .c1 { color: #888888 } /* Comment.Single */
.colorcode > .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.colorcode > .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.colorcode > .ge { font-style: italic } /* Generic.Emph */
.colorcode > .gr { color: #aa0000 } /* Generic.Error */
.colorcode > .gh { color: #303030 } /* Generic.Heading */
.colorcode > .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.colorcode > .go { color: #888888 } /* Generic.Output */
.colorcode > .gp { color: #555555 } /* Generic.Prompt */
.colorcode > .gs { font-weight: bold } /* Generic.Strong */
.colorcode > .gu { color: #606060 } /* Generic.Subheading */
.colorcode > .gt { color: #aa0000 } /* Generic.Traceback */
.colorcode > .highlight .kc{font-weight:bold;} /* Keyword.Constant */
.colorcode > .highlight .kd{font-weight:bold;} /* Keyword.Declaration */
.colorcode > .highlight .kn{font-weight:bold;} /* Keyword.Namespace */
.colorcode > .highlight .kp{font-weight:bold;} /* Keyword.Pseudo */
.colorcode > .highlight .kr{font-weight:bold;} /* Keyword.Reserved */
.colorcode > .highlight .kt{color:#458;font-weight:bold;} /* Keyword.Type */
.colorcode > .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.colorcode > .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.colorcode > .highlight .na{color:#008080;} /* Name.Attribute */
.colorcode > .highlight .nb{color:#0086B3;} /* Name.Builtin */
.colorcode > .highlight .nc{color:#458;font-weight:bold;} /* Name.Class */
.colorcode > .highlight .no{color:#008080;} /* Name.Constant */
.colorcode > .highlight .ni{color:#800080;}
.colorcode > .highlight .ne{color:#900;font-weight:bold;} /* Name.Exception */
.colorcode > .highlight .nf{color:#900;font-weight:bold;} /* Name.Function */
.colorcode > .highlight .nn{color:#005;font-weight:bold;} /* Name.Namespace */
.colorcode > .highlight .nt{color:#000080;} /* Name.Tag */
.colorcode > .highlight .nv{color:#008080;} /* Name.Variable */
.colorcode > .py { color: #336699; font-weight: bold } /* Name.Property */
.colorcode > .ow { color: #008800 } /* Operator.Word */
.colorcode > .w { color: #bbbbbb } /* Text.Whitespace */
.colorcode > .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.colorcode > .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.colorcode > .highlight .mi {color:#099;} /* Literal.Number.Integer */
.colorcode > .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.colorcode > .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.colorcode > .highlight .sc{color:#d14;} /* Literal.String.Char */
.colorcode > .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.colorcode > .highlight .s2{color:#d14;} /* Literal.String.Double */
.colorcode > .highlight .se{color:#d14;} /* Literal.String.Escape */
.colorcode > .highlight .sh{color:#d14;} /* Literal.String.Heredoc */
.colorcode > .highlight .si{color:#d14;} /* Literal.String.Interpol */
.colorcode > .highlight .sx{color:#d14;} /* Literal.String.Other */
.colorcode > .highlight .sr{color:#d14;} /* Literal.String.Regex */
.colorcode > .highlight .s1{color:#d14;} /* Literal.String.Single */
.colorcode > .highlight .ss{color:#d14;} /* Literal.String.Symbol */
.colorcode > .bp { color: #003388 } /* Name.Builtin.Pseudo */
.colorcode > .vc { color: #336699 } /* Name.Variable.Class */
.colorcode > .vg { color: #dd7700 } /* Name.Variable.Global */
.colorcode > .vi { color: #3333bb }
