/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "compass/css3"
@import 'colors'

.project-box
  background: rgba(white, 0.7)
  @include border-radius(10px)
  width: 80%
  margin: 0 auto
  font-family: arial, helvetica
  padding: 20px

  h2
    padding-bottom: 15px
    text:
      decoration: underline
    font:
      size: 30px
      weight: bold
    letter-spacing: -2px

  p.header
    padding-bottom: 15px
    text:
      align: center
      decoration: underline
    font:
      size: 40px
      weight: bold
    letter-spacing: -2px

  ul
    li
      padding: 5px
      p.desc
        display: inline
  p.links
    float: right

.content
  margin: 0 auto
  width: 80%
  .up-bar
    height: 100px
    p.logo
      float: left

      padding-top: 15px
      a
        color: black
        text:
          decoration: none
        font:
          size: 40px
          weight: bold
        letter-spacing: -2px
    p.user-info
      margin: 0px
      width: auto
      float: right
      background: rgba(255,255,255,0.3)
      @include border-radius(0 0 10px 10px)
      padding: 20px
      float: right
    p.notice
      float: left
      margin-left: 30px
      padding: 20px
      background: rgba(green, 0.3)
      @include border-radius(0 0 10px 10px)
      color: white
      text-align: center
    p.alert
      float: left
      margin-left: 30px
      padding: 20px
      background: rgba(red, 0.3)
      @include border-radius(0 0 10px 10px)
      color: white
      text-align: center

  .projects
    background: rgba(white, 0.7)
    @include border-radius(10px)
    width: 80%
    margin: 0 auto
    font-family: arial, helvetica
    padding: 20px

    p.header
      padding-bottom: 15px
      text:
        align: center
        decoration: underline
      font:
        size: 30px
        weight: bold
      letter-spacing: -2px

  .project
    p
      display: inline
    p.links
      float: right
      margin: 0

    &.even
      background-color: $light-blue

    padding: 5px
    width: auto

body
  background: image-url("wood-background.jpg") top center no-repeat fixed
  font-family: arial, helvetica

.add-task
  margin: 14% auto

  width: 50%
  h1
    padding-bottom: 30px


.add-membership
  margin: 14% auto

  width: 50%
  h1
    padding-bottom: 30px

h1
  font:
    size: 38px
    weight: bold
  letter-spacing: -2px

.registration-box
  background-color: #fff
  margin: 5% auto
  padding: 20px
  width: 320px
  border: 1px solid black
  font-size: 17px

  h2
    font:
      size: 48px
      weight: bold
    letter-spacing: -2px

  p.subtitle

    color: grey
    font:
      size: 10px
    margin:
      bottom: 20px
      left: 5px

  @include box-shadow( gray , 5px, 5px, 10px)
  input[type="password"], input[type="text"], input[type="email"],  textarea
    font:
      family: Arial, Sans-Serif
      size: 20px
    margin-bottom: 15px
    display: block
    padding: 6px
    border: solid 1px #85b1de
    width: 300px

  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  p.remember
    label
      display: inline
      font-weight: normal

    font-size: 12px
    margin:
      top: -10px
      bottom: 10px

  p.submit
    float: left
  p.forget
    float: right
    font-size: 11px

.password-box
  background-color: #fff
  margin: 5% auto
  padding: 20px
  width: 320px
  border: 1px solid black
  font-size: 17px

  h2
    font:
      size: 30px
      weight: bold
    letter-spacing: -2px

  p.subtitle

    color: grey
    font:
      size: 10px
    margin:
      bottom: 20px
      left: 5px

  @include box-shadow( gray , 5px, 5px, 10px)
  input[type="email"]
    font:
      family: Arial, Sans-Serif
      size: 20px
    margin-bottom: 15px
    display: block
    padding: 6px
    border: solid 1px #85b1de
    width: 300px

  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  p.submit
    float: left

.login-box
  background-color: #fff
  margin: 17% auto
  padding: 20px
  width: 320px
  height: 175px
  border: 1px solid black
  font-size: 17px

  @include box-shadow( gray , 5px, 5px, 10px)
  input[type="password"], input[type="text"], textarea
    font:
      family: Arial, Sans-Serif
      size: 20px
    margin-bottom: 15px
    display: block
    padding: 6px
    border: solid 1px #85b1de
    width: 300px

  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  p.remember
    label
      display: inline
      font-weight: normal

    font-size: 12px
    margin:
      top: -10px
      bottom: 10px

  p.submit
    float: left

  p.forget
    float: right
    font-size: 11px



