/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset"
@import "compass/css3"
@import 'colors'

.whitebox
  background: rgba(white, 0.90)
  @include border-radius(10px)
  margin: 20px auto
  font-family: arial, helvetica
  padding: 20px

.bar
  border-bottom: 1px dashed black

html body
  padding-top: 40px
  background: image-url("wood-background.jpg") top center no-repeat fixed
  font-family: arial, helvetica



.version-box
  background: rgba(white, 0.7)
  @include border-radius(10px)
  width: 90%
  margin: 0 auto
  font-family: arial, helvetica
  padding: 20px


table.version
  tr
  tr.even
    background: rgba(gray, 0.3)
  tr.odd
    background: rgba(white, 0.3)

  td.element
    width: 100px
    padding: 10px 20px 10px 0
  td.big-element
    width: 200px
    padding: 10px 20px 10px 0

.project-code
  background-color: white

.white-box
  background: rgba(white, 0.7)
  @include border-radius(10px)
  width: 80%
  margin: 0 auto
  font-family: arial, helvetica
  padding: 20px

  h2
    padding-bottom: 15px
    text:
      decoration: underline
    font:
      size: 30px
      weight: bold
    letter-spacing: -2px

  p.header
    padding-bottom: 15px
    text:
      align: center
      decoration: underline
    font:
      size: 40px
      weight: bold
    letter-spacing: -2px
  ul
    li
      padding: 5px
      p.desc
        display: inline
  p.links
    float: right

.project-box
  background: rgba(white, 0.7)
  @include border-radius(10px)
  //width: 80%
  //margin: 0 auto
  font-family: arial, helvetica
  //padding: 20px

  h2
    margin:
      bottom: 15px
      top: 30px
    font:
      size: 30px
      weight: bold
    letter-spacing: -2px
    border-bottom: 1px dashed black

  h3
    padding-top: 10px
    padding-bottom: 5px
    font:
      size: 20px
      weight: bold
    letter-spacing: -2px

  p.header
    padding-bottom: 15px
    text:
      align: center
      decoration: underline
    font:
      size: 40px
      weight: bold
    letter-spacing: -2px
  ul
    li
      padding: 5px
  p.desc
    display: inline
  p.links
    float: right
  span.task-info
    color: gray
    font:
      size: 12px
  span.mail-info
    color: gray
    font:
      size: 12px

.unread
  background-color: rgba(green, 0.3)

.content
  margin: 0 auto
  width: 80%
  .projects
    background: rgba(white, 0.7)
    @include border-radius(10px)
    width: 80%
    margin: 0 auto
    font-family: arial, helvetica
    padding: 20px

    p.header
      padding-bottom: 15px
      text:
        align: center
        decoration: underline
      font:
        size: 30px
        weight: bold
      letter-spacing: -2px

  .project
    p
      display: inline
    p.links
      float: right
      margin: 0

    &.even
      background-color: $light-blue

    padding: 5px
    width: auto



.add-task
  margin: 14% auto

  width: 50%
  h1
    padding-bottom: 30px


.add-membership
  margin: 14% auto

  width: 50%
  h1
    padding-bottom: 30px

h1
  font:
    size: 38px
    weight: bold
  letter-spacing: -2px

.registration-box
  background-color: #fff
  margin: 5% auto
  padding: 20px
  width: 320px
  border: 1px solid black
  font-size: 17px

  h2
    font:
      size: 48px
      weight: bold
    letter-spacing: -2px

  p.subtitle

    color: grey
    font:
      size: 10px
    margin:
      bottom: 20px
      left: 5px

  @include box-shadow( gray , 5px, 5px, 10px)
  input[type="password"], input[type="text"], input[type="email"],  textarea
    font:
      family: Arial, Sans-Serif
      size: 20px
    margin-bottom: 15px
    display: block
    padding: 6px
    border: solid 1px #85b1de
    width: 300px

  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  p.remember
    label
      display: inline
      font-weight: normal

    font-size: 12px
    margin:
      top: -10px
      bottom: 10px

  p.submit
    float: left
  p.forget
    float: right
    font-size: 11px

.password-box
  background-color: #fff
  margin: 5% auto
  padding: 20px
  width: 320px
  border: 1px solid black
  font-size: 17px

  h2
    font:
      size: 30px
      weight: bold
    letter-spacing: -2px

  p.subtitle

    color: grey
    font:
      size: 10px
    margin:
      bottom: 20px
      left: 5px

  @include box-shadow( gray , 5px, 5px, 10px)
  input[type="email"]
    font:
      family: Arial, Sans-Serif
      size: 20px
    margin-bottom: 15px
    display: block
    padding: 6px
    border: solid 1px #85b1de
    width: 300px

  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  p.submit
    float: left

.login-box
  background-color: #fff
  margin: 17% auto
  padding: 20px
  width: 320px
  height: 175px
  border: 1px solid black
  font-size: 17px

  @include box-shadow( gray , 5px, 5px, 10px)
  input[type="password"], input[type="text"], textarea
    font:
      family: Arial, Sans-Serif
      size: 20px
    margin-bottom: 15px
    display: block
    padding: 6px
    border: solid 1px #85b1de
    width: 300px

  label
    display: block
    font-weight: bold
    margin-bottom: 2px

  p.remember
    label
      display: inline
      font-weight: normal

    font-size: 12px
    margin:
      top: -10px
      bottom: 10px

  p.submit
    float: left

  p.forget
    float: right
    font-size: 11px


.pagination
  cursor: default
  .pagination a, .pagination span, .pagination em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .pagination .disabled
    color: #999999
    border: 1px solid #ddd
  .pagination .current
    font-style: normal
    font-weight: bold
    background: rgba(green, 0.3)
    color: white
    border: 1px solid black
  .pagination a
    text-decoration: none
    color: black
    border: 1px solid rgba(green, 0.3)
    .pagination a:hover, .pagination a:focus
      color: #000033
      border-color: #000033
  .pagination .page_info
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    .pagination .page_info b
      color: #000033
      background: #6aa6ed
      padding: 0.1em 0.25em
  .pagination:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html .pagination
    height: 1%
  *:first-child + html .pagination
    overflow: hidden
