//@import "compass/css3"
@import "colors"

.up-bar
  //display: inline
  //margin: -8px
  width: 100%
  height: 30px
  p.user-info
    margin: 0px
    width: auto
    float: right
  p.notice
    float: left
    margin: 0px
    padding: 5px
    border: 2px solid $dark-green
    width: 300px
    background-color: $light-green
    color: $dark-green
    text-align: center
  p.alert
    float: left
    margin: 0px
    padding: 5px
    border: 2px solid red
    width: 300px
    background-color: $light-red
    color: red
    text-align: center


