.content
  .banner-top
    = image_tag 'banner-top.png'

  .desc
    Lorem ipsum dolor sit amet, nulla vivamus mauris vehicula quis consequat, enim eu magnis sapien morbi, 
    wisi suscipit etiam, enim vestibulum justo nulla, molestie ad ut quis orci sed ornare. Id sagittis, libero amet et id, feugiat sagittis at tempor vel, dui vel dignissim ullamcorper elit lorem, pede eleifend ornare quam.
    Sit ullamcorper id, quisque vel in tempor augue vel urna, unde dui sed et, diam eleifend nec faucibus ac ut viverra, turpis ut felis. Quisque varius ut urna. Libero porttitor nunc, nulla et urna ligula nunc justo ipsum, scelerisque massa felis nonummy arcu. Sapien dapibus, suscipit orci, elit placerat ante risus enim, volutpat ultricies vitae sagittis. Non lacus risus duis mauris, mollis scelerisque habitant, at ipsum, pede dignissim odio lobortis ut, egestas nunc libero non scelerisque libero scelerisque. Wisi erat dui faucibus, eu fringilla ac non praesent, dictum eros.
  
  .login
    = link_to t('sign_in'), new_user_session_path
    = link_to t('sign_up'), new_user_registration_path
