%p
  Olá #{@resource.email}!
%p Alguém requisitou um link para trocar a sua senha, e você pode faze-lo no link abaixo.
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se você não requisitou esta troca de senha, favor ignorar este email.
%p Sua senha não será alterada até que voce acesse o link acima.
